<h1>Welcome to Angular </h1> <hr>
<!--1. As a Custom html element -->
 <!-- <app-home></app-home> -->

 <!--2. As class value for any html element [if want to call like this then in ts file selector should call with (.)]. -->
  <!-- <div class="app-home"></div> -->

  <!--3. As a attribute for any html element [if want to call like this then in ts file selector should call in [] ] -->
  <!-- <div app-home></div> -->


  <!-- <app-interpolation></app-interpolation> -->

  <!-- <app-p-binding></app-p-binding> -->

  <!-- <app-c-binding></app-c-binding> -->

  <!-- <app-s-binding></app-s-binding> -->

  <!-- <app-e-binding></app-e-binding> -->

  <app-twoway></app-twoway>